*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins";
   box-sizing: border-box;
}

.main{
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
   
}
.content{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: url("images/bg.gif") no-repeat;
    background-position: center;
    width: 100%; 
    max-width: 600px; 
    background-color: black;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.follow_us{
    font-weight: bold;
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
    background: url("images/font.gif") no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.links{
    width: 100%; 
    max-width: 300px;
    height: 50px;
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    padding-top: 8px;
    position: relative;
    border-radius: 50px;
    transition: all 0.2s;
}
.links a{
    color: white;
    font-size: 1.4rem;
    padding: 0 10px;
    text-decoration: none;
    
}
.links i{
    position: absolute;
    top: 25%;
    font-size: 1.4rem;
    color: white;
}
.links_insta{
    background-image: url("images/insta.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.links_yt{
    background-image: url("images/yt.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.links_linkdin{
    background-image: url("images/linkdin.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.github{
    font-weight: bold;
    background-image: url("images/github.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.links{
    font-weight: bold;
}
.links:hover{
        transform: scale(1.1);
}
/*loading effect*/
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff; /* adjust background color as needed */
    z-index: 9999; /* ensures it's above other content */
}
.loader-container img{
    width: 470px;
}


.hidden {
    display: none; /* show content when loaded */
}

@media (max-width: 768px) {
    .links:hover {
        transform: none; /* Ensure hover effect is removed */
    }
    .main {
        flex-direction: column;
        background: url("images/bg.gif") no-repeat;
        background-position: center;
    }
    
    .content {
        background: transparent;
        max-width: 100%; 
    }
    
    .links {
        transition: none;
        max-width: 100%; 
    }
    
    .links i {
        position: relative; 
        transform: none;
        top: 8%;
        right: auto;
        margin-left: 10px; 
    }   
}