*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins";
   box-sizing: border-box;
}

.main{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
   
}
.content{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: url("images/bg.gif") no-repeat;
    background-position: center;
    width: 100%; 
    max-width: 600px; 
    background-color: black;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-fill-mode: forwards;
    animation-name:background_container_ani;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
}
.follow_us{
    font-weight: bold;
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
    background: url("images/font.gif") no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation-fill-mode: forwards;
    animation-name:header_ani;
    animation-duration: 4.5s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
}
.links{
    width: 100%; 
    max-width: 300px;
    height: 50px;
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    padding-top: 8px;
    position: relative;
    border-radius: 50px;
    transition: all 0.2s;
    animation-fill-mode: forwards;
    animation-name:buttons_ani;
    animation-duration: 6s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
}
.links a{
    color: white;
    font-size: 1.4rem;
    padding: 0 10px;
    text-decoration: none;
    
}
.links i{
    position: absolute;
    top: 25%;
    font-size: 1.4rem;
    color: white;
}

/*loading effect*/
.loader-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}


.loader1 {
    margin-bottom: 25px;
    width: 50px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#FDB750 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    animation: l7 1s infinite linear alternate;
  }
  @keyframes l7 {
    0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
    20% {background-size: 20% 20% ,20% 50% ,20% 50% }
    40% {background-size: 20% 100%,20% 20% ,20% 50% }
    60% {background-size: 20% 50% ,20% 100%,20% 20% }
    80% {background-size: 20% 50% ,20% 50% ,20% 100%}
    100%{background-size: 20% 50% ,20% 50% ,20% 50% }
  }
  .loader2 {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    color: white;
    border: 2px solid;
    position: relative;
  }
  .loader2::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 7.2s infinite;

  }
  @keyframes l6 {
      100% {inset:0}
  }
/*animation effect*/
@keyframes background_container_ani {
    0%{
        transform: translateY(100%);
        left: 30%;
    }
    100%{
        top: 50%; 
        left: 50%; 
        transform: translate(-50%,-50%);
        
    }
}
@keyframes buttons_ani {
    0%{
        transform: translateX(-3000%);
        
    }
    100%{
        transform: translateX(0%);
        transition: all 1s;
    }
}
@keyframes header_ani{
    0%{
        transform: translateX(+3000%);
        
    }
    100%{
        transform: translateX(0%);
    }
}
@media (min-width:768px) {
    .content div{
        background-color: transparent;
        border-radius: 1px;
        border: solid;
        border-radius: 20px;
        border-color: white;
        transition: all 1s;
    }
    .content div:hover{
        border:none;
    }
    .links_insta,
    .links_yt,
    .links_linkdin,
    .github,
    .my-works{
        transition: all 1s;
    }
    .links_insta:hover{
        background-image: url("images/insta.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.2);
    }
    
    .links_yt:hover{
        background-image: url("images/yt.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.2);
    }
    .links_linkdin:hover{
        background-image: url("images/linkdin.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.2);
    }
    
    .github:hover{
        font-weight: bold;
        background-image: url("images/github.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.2);
    }
    .my-works:hover{
        font-weight: bold;
        background-image: url("images/works.gif");
        background-position: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.2);
    }
    .links_insta:hover,
    .links_yt:hover,
    .links_linkdin:hover,
    .github:hover,
    .my-works:hover {
    transform: scale(1.1) !important;
}

    .links{
        font-weight: bold;
    }
    
    
}
@media (max-width: 768px) {
    .links_insta{
        background-image: url("images/insta.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    .links_yt{
        background-image: url("images/yt.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .links_linkdin{
        background-image: url("images/linkdin.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .github{
        font-weight: bold;
        background-image: url("images/github.gif");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .my-works{
        font-weight: bold;
        background-image: url("images/works.gif");
        background-position: 5%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .links{
        font-weight: bold;
    }
    .links:hover{
            transform: scale(1.1);
    }
    
    .main {
        flex-direction: column;
        background: url("images/bg.gif") no-repeat;
        background-position: center;
    }
    
    .content {
        background: transparent;
        max-width: 100%; 
    }
    
    .links {
        transition: none;
        max-width: 100%; 
    }
    
    .links i {
        position: relative; 
        transform: none;
        top: 8%;
        right: auto;
        margin-left: 10px; 
    }
    .links:hover {
        transform: none; /* Ensure hover effect is removed */
    }
    /*animation effect*/
    .content{
        animation: none;
    }
}